.footer{
    padding: 1rem;
    background-color: #EEE;
    text-align: center;
    font-size: 0.8rem;
    color: rgb(76, 73, 73);
    // position:absolute;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}